<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack-Frost</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="Personas.html">Personas</a>
            <a href="Tartaro.html">El tartaro</a>
            <a href="ejemplo.html"></a>
        </nav>

        <img  class="logo" src="/static/images/image.png" alt="p3">

        <H1>jack-Frost</H1>
</body>
</html>