<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
           

        <nav>
            <a href="/index.html">Inicio</a>
            <a href="Personas.html">Personas</a>
            <a href="Tartaro.html">El tartaro</a>
            <a href="ejemplo.html"></a>
        </nav>

        <img  class="logo" src="/static/images/image.png" alt="p3">
    <div class="card">
        <h2>
            ¿Qué son los persona?
        </h2>
    </div>
    <p>Los persona son "La representación del alma de su portador" y en esta siempre son seres de mitologias de diferentes cosmogonias</p>

    <div class="card">
        <nav><a href="ejemplo.html">ejemplo</a></nav>
    </div>
</body>
</html>